<!-- Main container (body) -->
<div class="container mt-4">
  <!-- Searchbar -->
  <div class="row justify-content-center">
    <div class="col-6">
      <input
        type="text"
        class="form-control rounded-pill"
        placeholder="Search..."
        [(ngModel)]="searchText"
      />
    </div>
  </div>

  <!-- Course Content -->
  <div class="row m-4">
    <!-- Left Part - List of Courses -->
    <div class="col-6">
      <div
        *ngFor="let course of getCoursesPerPage()"
        class="clickable-div border rounded m-2 p-3 courses"
        (click)="showContent(course)"
      >
        <!-- Individual course -->
        <div class="row">
          <div class="col-8">
            <h4>{{ course.courseName }}</h4>
          </div>
          <div class="col-4 text-end">
            <span
              *ngFor="let tag of course.tags"
              class="badge bg-primary me-2"
              >{{ tag }}</span
            >
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <p>by {{ course.author }} | {{ course.duration }} mins</p>
          </div>
          <div class="col text-end">
            <!-- Rating logic for frontend -->
            <div class="rating-stars text-warning">
              <span
                class="bi bi-star-fill"
                *ngFor="let _ of getFullStars(course.rating)"
              ></span>
              <span
                class="bi bi-star-half"
                *ngIf="course.rating % 1 !== 0"
              ></span>
              <span
                class="bi bi-star"
                *ngFor="let _ of getRemainingStars(course.rating)"
              ></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Pagination for courses -->
      <nav
        *ngIf="getCoursesPerPage().length != 0"
        aria-label="Course navigation"
      >
        <ul class="pagination mt-3">
          <li class="page-course" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="currentPage = currentPage - 1"
              >&laquo;</a
            >
          </li>
          <li class="page-course" *ngFor="let page of getPaginationArray()">
            <a
              class="page-link"
              (click)="currentPage = page"
              [class.active]="currentPage === page"
              >{{ page }}</a
            >
          </li>
          <li
            class="page-course"
            [class.disabled]="currentPage === getTotalPages()"
          >
            <a class="page-link" (click)="currentPage = currentPage + 1"
              >&raquo;</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <!-- Right Part - Course details (Initially empty) -->
    <div class="col-6">
      <div *ngIf="selectedCourse">
        <div class="card">
          <div class="card-header">
            <div class="row ms-1">
              {{ selectedCourse.courseName }}
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">by {{ selectedCourse.author }}</div>
              <div class="col text-end">
                Students enrolled: {{ selectedCourse.userCount }}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                Duration: {{ selectedCourse.duration }} minutes
              </div>
              <div class="col text-warning text-end">
                Rating:
                <span
                  class="bi bi-star-fill"
                  *ngFor="let _ of getFullStars(selectedCourse.rating)"
                ></span>
                <span
                  class="bi bi-star-half"
                  *ngIf="selectedCourse.rating % 1 !== 0"
                ></span>
                <span
                  class="bi bi-star"
                  *ngFor="let _ of getRemainingStars(selectedCourse.rating)"
                ></span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">Created on: {{ selectedCourse.created }}</div>
              <div class="col text-end font-weight-light">
                Last Activity on: {{ selectedCourse.lastActivity }}
              </div>
            </div>
            <div class="row mt-3">
              <p>
                <span font-weight-bold>Description:</span><br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                tristique rhoncus libero, in iaculis ipsum faucibus at. Integer
                a libero non enim dictum vestibulum. Proin justo eros, vehicula
                sit amet quam sit amet, sollicitudin accumsan nibh. Pellentesque
                et suscipit nunc. Morbi aliquet placerat interdum. Phasellus non
                lacus est. Sed aliquet gravida risus, non varius lectus posuere
                eu.
              </p>
            </div>
            <div class="row">
              <div>
                <iframe
                  class="rounded"
                  height="315"
                  width="560"
                  src="https://www.youtube.com/embed/3KtWfp0UopM?si=V_txC35MsqFWt4Hm"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <!-- Show Enroll button only if user is not enrolled in the course -->
            <div class="row justify-content-center">
              <button
                *ngIf="!isEnrolled(selectedCourse.courseId); else enrolled"
                class="btn btn-primary col-9"
                (click)="
                  enrollUser(selectedCourse.courseId, selectedCourse.courseName)
                "
              >
                Enroll
              </button>
              <ng-template #enrolled>
                <li class="btn btn-secondary col-9 enrolled">
                  Already Enrolled
                </li>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
