<div class="container mt-5 mb-2">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card bg-dark">
            <h2 class="text-center mb-4 text-primary card-header">Privacy Policy</h2>
          <div class="card-body">
            <p>
              Welcome to CourseManagementSystem. This Privacy Policy explains how we collect, use, and disclose your information when you use our services.
            </p>

            <hr class="my-4 bg-light">

            <p class="font-weight-bold">
              Information Collection and Use
            </p>
            <p>
              We collect the following types of information for various purposes to provide and improve our services to you:
            </p>

            <ul>
              <li><strong>Personal Information:</strong> We may collect personal information such as your name, email address, and other contact details when you register for an account or contact us through our website.</li>
              <li><strong>Usage Information:</strong> We may collect information about how you interact with our website, including pages visited, time spent on the site, and other usage statistics.</li>
              <li><strong>Device Information:</strong> We may collect information about the device you use to access our website, including the device type, operating system, and browser type.</li>
              <li><strong>Cookies and Tracking Technologies:</strong> We use cookies and similar tracking technologies to collect information about your browsing behavior and preferences.</li>
            </ul>

            <hr class="my-4 bg-light">

            <p class="font-weight-bold">
              How We Use Your Information
            </p>
            <p>
              We use the collected information for various purposes, including:
            </p>

            <ul>
              <li>Providing and maintaining our services.</li>
              <li>Improving and personalizing user experience.</li>
              <li>Sending periodic emails and updates.</li>
              <li>Analyzing usage patterns to enhance our website.</li>
              <li>Responding to user inquiries and support requests.</li>
            </ul>            
        </div>
        <div class="card-footer">
            Last Updated: {{ formattedDate }}
        </div>
        </div>
      </div>
    </div>
  </div>