<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.pexels.com/photos/9792417/pexels-photo-9792417.jpeg?auto=compress&cs=tinysrgb"
          width="100%"
          height="100%"
          class="bd-placeholder-img slide"
        />
        <div class="container">
          <div class="carousel-caption text-start text-light">
            <h1>Course Management System</h1>
            <p class="opacity-75">
              Best course management system made with .net core and angular
            </p>
            <p>
              <a
                class="btn btn-lg btn-primary"
                routerLink="courses"
                >Browse Courses</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
